<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="moduloRol/listarRol::style-head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body class="g-sidenav-show  bg-gray-200">
	<aside th:fragment="logo-nav" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="#">
                <img src="../assets/img/my-img/icon-metal.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">MECÁNICA DUEÑAS</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">

		<div th:replace="layout::nav-lateral" ></div>
        
    </aside>

	<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl
                    position-sticky blur shadow-blur mt-4 left-auto top-1 z-index-sticky" id="navbarBlur"
            data-scroll="true" navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-dark"href="javascript:;">Página</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Historial</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">Stock</h6>
                </nav>

                <div th:replace="layout::nav-estatico">
                </div>
            </div>
        </nav>

        <!-- Contenido <div class="container-fluid py-4"> -->
        <div class="container-fluid py-4">

			<div class="row">
				<div class="col-lg-12 mx-auto">
					<div class="card my-4">
						<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
								<h6 class="text-white text-capitalize ps-3">Historial de Stock</h6>
							</div>
						</div>
						<div class="card-header pb-0 p-3 mt-3">
							<div class="row ps-5">
								<div class="col-6 d-flex float-end  me-0">
									<div class="input-group input-group-outline w-50">
										<!-- <label class="form-label">Buscar...</label> -->
										<input type="text" class="form-control col-md-3 light-table-filter" placeholder="Buscar..." data-table="order-table">
									</div>
								</div>
								<div class="col-6 text-end">
									<a class="btn bg-gradient-dark mb-0" th:href="@{/ingreso/nuevo}"><i
											class="material-icons text-sm">add</i>&nbsp;&nbsp;AGREGAR NUEVO INGRESO</a>
                                </div>
							</div>
						</div>
						<div class="card-body px-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table order-table align-items-center justify-content-center mb-0" id="tabla">
									<thead>
										<tr>
											<th class="text-uppercase text-secondary text-xxs text-center font-weight-bolder opacity-7">Identificador</th>
											<th class="text-uppercase text-secondary text-xxs text-center font-weight-bolder opacity-7">Fecha</th>
											<th class="text-uppercase text-secondary text-xxs text-center font-weight-bolder opacity-7">Precio Total</th>
											<th class="text-uppercase text-secondary text-xxs text-center font-weight-bolder opacity-7">Igv</th>
											<th class="text-uppercase text-secondary text-xxs text-center font-weight-bolder opacity-7">Responsable</th>
											<th class="text-uppercase text-secondary text-xxs text-center font-weight-bolder opacity-7">Proveedor</th>
											<th class="text-uppercase text-secondary text-xxs text-center font-weight-bolder opacity-7">RUC</th>
											<th class="text-uppercase text-secondary text-xxs text-center font-weight-bolder opacity-7">Contacto</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
                                        <tr th:each="ingreso : ${listarIngreso}">
                                            <td class="text-center">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-s" th:text="${ingreso.idIngreAlm}"></h6>
												</div>
											</td>
                                            <td class="text-center">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm" th:text="${ingreso.fecha}"></h6>
												</div>
											</td>
                                            <td class="text-center">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm" th:text="${'S/. ' + ingreso.precioTotal}"></h6>
												</div>
											</td>
                                            <td class="text-center">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm" th:text="${'S./ ' + ingreso.igv}"></h6>
												</div>
											</td>
                                            <td class="text-center">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm" th:text="${ingreso.empleado.nombres}"></h6>
												</div>
											</td>
                                            <td class="text-center ">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm" th:text="${ingreso.proveedor.razSocial}"></h6>
												</div>
											</td>
                                            <td class="text-center ">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm" th:text="${ingreso.proveedor.nroDoc}"></h6>
												</div>
											</td>
                                            <td class="text-center ">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm" th:text="${ingreso.proveedor.telefono}"></h6>
												</div>
											</td>
                                            <td class="align-middle">
                                                <div class="float-start bg-gradient-success p-2 shadow-dark border-radius-md">
                                                    <a th:href="@{/ingreso/{id}(id=${ingreso.idIngreAlm})}" class="text-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                        </svg>
                                                    </a>        
                                                </div>
                                                <div class="float-start bg-gradient-danger p-2 shadow-dark border-radius-md ms-5" data-bs-toggle="modal" data-bs-target="#myModal" >
                                                    <a th:href="@{/ingreso/eliminar/{id}(id=${ingreso.idIngreAlm})}" class="text-white delBtn" name="deleteButton">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                        </svg>
                                                    </a>
                                                </div>

											</td>
                                        </tr>
									</tbody>
								</table>
                                <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="py-3 text-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                                    </svg>
                                                    <h4 class="text-gradient text-danger mt-4">¿Estás Seguro?</h4>
                                                    <p>¡No podrás revertir esto!</p>
                                                </div>
                                            </div>
                                            <div class="text-center mb-4">
                                                <a href="" class="btn btn-success" id="delRef">SI, CONTINUAR</a>
                                                <button type="button" class="btn btn-danger text-dark ml-auto" data-bs-dismiss="modal">CANCELAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
                
        <!-- Fin de Contenido -->
            
        <!-- End Navbar -->
            
        <div th:replace="layout::footer"></div>
    </main>

    <!-- Modal Alerta Eliminacion -->
    <div th:replace="moduloRol/listarRol::modal-eliminacion"></div>

    <!-- Layout Configuracion -->
	<div th:replace="layout::configuracion"></div>
    
    <!-- Layout Pintado  -->
	<script th:replace="layout::pintado-script"></script>


    <div th:replace="moduloRol/listarRol::grupo-script"></div>
    
	<script src="../assets/js/tienda.js"></script>
</body>
</html>